{% load static %}
<html>

    <head>

        <link href="{% static "student/css/vendor/kendo.common.min.css" %}" rel="stylesheet">
        <link href="{% static 'student/css/vendor/kendo.material.min.css' %}" rel="stylesheet">
        <link href="{% static 'student/css/vendor/kendo.material.mobile.min.css' %}" rel="stylesheet">
        <link href="{% static 'student/css/style.css' %}" rel="stylesheet"> </link>

        <script src="{% static 'student/js/vendor/jquery.min.js' %}"> </script>
        <script src="{% static 'student/js/vendor/kendo.all.min.js' %}"> </script>

        <script src="{% static 'student/js/student.js' %}"> </script>

    </head>



    <body>
            <div id="megaStore">
                <ul id="menu">
                    
                </ul>
            </div>

            <div id="student-grid">

            </div>



    </body>

</html>